.tag{
  display: inline-block;
  padding: 0.5rem;
  margin-right: .5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #5B5B78;
  border-radius: 12px;
}

.tagBg{
  background-color: #F5F5F7;
}

.tagNoBg{
  background: none;
}

/*DEVICE 768PX*/
@media (max-width: 768px) 
{
  .tag{
    margin-bottom: .5rem;
  }
}
/*DEVICE 480PX*/
@media (max-width: 480px) 
{
  .tag{
    margin-bottom: .5rem;
  }
}