*{
  text-decoration: none;
}

.projectCard{
  margin-top: 1.5rem;
  padding: 1.5rem;
  border: 2px solid #EAEAEE;
  border-radius: 12px;
  transition: .4s;
}

.projectCard:hover{
  border-color: #050530;
  cursor: pointer;
}

.projectCardUser{
  display: flex;
  align-items: center;
}

.projectCardUser > img{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #F5F5F7;
}

.projectCard span{
  font-size: 1rem;
  font-weight: 600;
  color: #050530;
  margin-left: 0.75rem;
  /*object-fit*/
}

.projectCard h3{
  margin-top: 1rem;
  font-weight: 600;
  color: #050530;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.projectCard p{
  margin-top: .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #73738B;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.projectCardFooter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.projectCardTagsFilter{
  display: flex;
  align-items: center;
}

.projectCardTagsFilter > h6{
  font-size: 1rem;
  font-weight: 500;
  color: #050530;
  margin-right: .5rem;
}

/*DEVICE 480PX*/
@media (max-width: 480px) 
{
  .projectCard h3{
    -webkit-line-clamp: 2;
  }

  .projectCard p{
    -webkit-line-clamp: 4;
  }

  .projectCardFooter{
    flex-direction: column;
    align-items: flex-start;
  }

  .projectCardFooter:last-child{
    align-items: flex-end;
  }

  .projectCardTagsFilter{
    flex-direction: column;
    align-items: flex-start;
  }

  .projectCardTagContainer{
    margin-top: .5rem;
  }
}