.homeContent{
  margin-top: 3.5rem;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  &__wrap{
    width: 65rem;
    display: flex;
  }

  &__filter{
    width: 20%;
    margin-right: 5rem;
  }

  &__list{
    width: 100%;

    h1{
      font-weight: 400;
      color: #050530;
    }
  
    span{
      font-weight: 700;
    }
  }

  &__listHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}