.homeContent{
  margin-top: 3.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.homeContentWrap{
  width: 65rem;
  display: flex;
  justify-content: space-between;
}

.homeContentFilter{
  width: 20%;
  height: 25vh;
  top: 5%;
  margin-right: 5rem;
  position: -webkit-sticky;
  position: sticky;
}

.homeContentList{
  width: 80%;
}

.homeContentList h1{
  font-weight: 400;
  color: #050530;
}

.homeContentList span{
  font-weight: 700;
}

.homeContentListHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*FILTERS*/
.radioContainer{
  position: relative;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioContainer input{display: none;}

.iconFilter{
  position: absolute;
  left:0;
  display: inline-block;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.iconAllNeeds {
  background: url("../../images/allNeedsDisabled.svg") no-repeat;
}

.radioContainer input:checked + .iconAllNeeds{
  background: url("../../images/allNeedsActived.svg") no-repeat;
}

.radioContainer .iconProgramming {
  background: url("../../images/programmingDisabled.svg") no-repeat;
}

.radioContainer input:checked + .iconProgramming{
  background: url("../../images/programmingActived.svg") no-repeat;
}

.radioContainer .iconDesign {
  background: url("../../images/designDisabled.svg") no-repeat;
}

.radioContainer input:checked + .iconDesign{
  background: url("../../images/designActived.svg") no-repeat;
}

.radioContainer .iconMarketing {
  background: url("../../images/marketingDisabled.svg") no-repeat;
}

.radioContainer input:checked + .iconMarketing{
  background: url("../../images/marketingActived.svg") no-repeat;
}

.radioContainer .iconBusiness {
  background: url("../../images/businessDisabled.svg") no-repeat;
}

.radioContainer input:checked + .iconBusiness{
  background: url("../../images/businessActived.svg") no-repeat;
}

.filterLabel{
  font-weight: 400;
  color: rgba(7, 7, 66, 0.56);
  padding-left: 2.6rem;
}

.radioContainer input:checked ~ .filterLabel{
  font-weight: 600;
  color: #7529F0;
  transition: .2s;
}
/*END FILTERS*/

/*PROJECT LIST*/
.homeContentProjectList{
  width: 100%;
  margin-top: 3rem;
}

/*DEVICE 1280PX*/
@media (max-width: 1280px) 
{
  .homeContentFilter{margin-right: 1rem;}
  .homeContentWrap{width: 61rem;}
}

/*DEVICE 1080PX*/
@media (max-width: 1080px) 
{
  .homeContentFilter{margin-right: 2rem;}
  .homeContentWrap{width: 50rem;}
}

/*DEVICE 768PX*/
@media (max-width: 768px) 
{
  .homeContent{
    margin-top: 1rem;
  }

  .homeContentWrap{
    flex-direction: column;
    align-items: center;
  }

  .homeContentFilter{
    position: static;
    margin-top: 3rem;
    margin-bottom: 4rem;
    align-items: flex-start;
  }

  .homeContentList{
    width: 88%;
    position: relative;
  }
}

/*DEVICE 480PX*/
@media (max-width: 480px) 
{
  .homeContentList{
    width: 92%;
  }

  .homeContentFilter{
    width: 92%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-right: 0rem;
    top: 0;
  }

  .homeContentListHeader{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .homeContentListHeading{
    width: 60%;
    margin-bottom: 1rem;
    line-height: 150%;
  }
}