.radioContainer{
  position: relative;
  margin-bottom: 1.4rem;

  display: flex;
  align-items: center;

  cursor: pointer;

  input{display: none;}

  &__icon{
    position: absolute;
    left:0;

    display: inline-block;
    padding: 8px;

    background: #F5F5F7;

    width: 32px;
    height: 32px;
    
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  & input:checked + &__icon{
    background: rgba(131, 55, 255, 0.20);;
  }

  & input:checked + &__icon:after{
    content: "";
    position: absolute;

    width: 12px;
    height: 12px;

    border-radius: 50%;

    background-color: #fff;
  }

  &__label{
    font-weight: 400;
    color: rgba(7, 7, 66, 0.56);

    padding-left: 2.6rem;
  }

  & input:checked ~ &__label{
    font-weight: 600;
    color: #7529F0;

    transition: .2s;
  }
}

