.radioContainer{
  position: relative;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  
  input{display: none;}

  &__iconFilter{
    position: absolute;
    left:0;
    display: inline-block;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
  }

  &__iconAllNeeds {
    background: url("../../images/allNeedsDisabled.svg") no-repeat;
  }

  & input:checked + &__iconAllNeeds{
    background: url("../../images/allNeedsActived.svg") no-repeat;
  }

  &__iconProgramming {
    background: url("../../images/programmingDisabled.svg") no-repeat;
  }

  & input:checked + &__iconProgramming{
    background: url("../../images/programmingActived.svg") no-repeat;
  }

  &__iconDesign {
    background: url("../../images/designDisabled.svg") no-repeat;
  }

  & input:checked + &__iconDesign{
    background: url("../../images/designActived.svg") no-repeat;
  }

  &__iconMarketing {
    background: url("../../images/marketingDisabled.svg") no-repeat;
  }

  & input:checked + &__iconMarketing{
    background: url("../../images/marketingActived.svg") no-repeat;
  }

  &__iconBusiness {
    background: url("../../images/businessDisabled.svg") no-repeat;
  }

  & input:checked + &__iconBusiness{
    background: url("../../images/businessActived.svg") no-repeat;
  }
  
  & input:checked + &__icon:after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
  }

  &__label{
    font-weight: 400;
    color: rgba(7, 7, 66, 0.56);
    padding-left: 2.6rem;
  }

  & input:checked ~ &__label{
    font-weight: 600;
    color: #7529F0;
    transition: .2s;
  }
}

