.radioContainer{
  position: relative;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioContainer input{display: none;}

.iconFilter{
  position: absolute;
  left:0;
  display: inline-block;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.iconAllNeeds {
  background: url("../../images/allNeedsDisabled.svg") no-repeat;
}

.radioContainer input:checked + .iconAllNeeds{
  background: url("../../images/allNeedsActived.svg") no-repeat;
}

.radioContainer .iconProgramming {
  background: url("../../images/programmingDisabled.svg") no-repeat;
}

.radioContainer input:checked + .iconProgramming{
  background: url("../../images/programmingActived.svg") no-repeat;
}

.radioContainer .iconDesign {
  background: url("../../images/designDisabled.svg") no-repeat;
}

.radioContainer input:checked + .iconDesign{
  background: url("../../images/designActived.svg") no-repeat;
}

.radioContainer .iconMarketing {
  background: url("../../images/marketingDisabled.svg") no-repeat;
}

.radioContainer input:checked + .iconMarketing{
  background: url("../../images/marketingActived.svg") no-repeat;
}

.radioContainer .iconBusiness {
  background: url("../../images/businessDisabled.svg") no-repeat;
}

.radioContainer input:checked + .iconBusiness{
  background: url("../../images/businessActived.svg") no-repeat;
}

.filterLabel{
  font-weight: 400;
  color: rgba(7, 7, 66, 0.56);
  padding-left: 2.6rem;
}

.radioContainer input:checked ~ .filterLabel{
  font-weight: 600;
  color: #7529F0;
  transition: .2s;
}

/*DEVICE 768PX*/
@media (max-width: 768px) 
{

}

