/*ALL PAGE CONTENT*/
.registerContainer{
  width: 680px;
  margin: 0 auto;
}
/*END ALL CONTENT*/

/*PROMOTIONAL PRICE BANNER*/
.postValue{
  position: relative;
  width: 680px;
  padding: 32px 0;
  margin-top: 3.5rem;
  text-align: center;
  background: 
    url('../../images/iconConfetti.svg'),
    linear-gradient(91.55deg, #BD00FF -4.39%, #5E09E9 118.62%);
  box-shadow: 0px 24px 32px -20px rgba(79, 0, 207, 0.24);
  border-radius: 12px;
}

.postValue span{
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.confetti{
  position: absolute;
  top: -0.05rem;
  left: 1.2rem;
}

.textContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .2rem;
}

.textContainer p{
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  opacity: .6;
}

.textContainer img{
  width: 18px;
  margin-left: .3rem;
}
/*END PROMOTIONAL PRICE BANNER*/


/*FORM TITLE*/
.formTitle{
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
}

.formTitle h3{
  color: #070742;
  font-size: 1.25rem;
  margin-right: .3rem;
}

.formTitle img{
  width: 20px;
  height: 20px;
}
/*END FORM TITLE*/


/*GENERAL FORM*/
.registerContainer form{
  margin-top: 2rem;
}
/*END GENERAL FORM*/


/*UPLOAD*/
.formUpload{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px dashed #DFDFE3;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #8337FF;
  cursor: pointer;
  transition: .2s;
}

.formUpload:hover{
  border-color: #C3C3D2;
}

.formUpload input[type="file"]{
  display: none;
}

.formUpload > img{
  margin-bottom: .5rem;
}
/*END UPLOAD*/


/*TEXT-FIELD*/
.formMarginTop{
  margin-top: 2.5rem ;
}

.formFirstLine{
  display: flex;
  width: 100%;
  margin-top: 2.5rem;
}

.formTextField{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.formFirstName{
  margin-right: 1.5rem;
}

.formTextField label{
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
  color: #070742;
  margin-bottom: .5rem;
}

.formTextField input{
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid #EAEAEE;
  border-radius: 8px;
  outline: none;
  color: #070742;
  transition: .2s;
}

.formTextField input::placeholder{
  color: #B0B0C2;
}

.formTextField input:hover{
  border-color: #C3C3D2;
}

.formTextField input:focus{
  border: 1px solid #8337FF;
  color: #070742;
}
/*END TEXT-FIELD*/


/*CHECKBOXES*/
.formCheckboxWrapper{
  margin-top: 2.5rem;
}

.formCheckboxWrapper h3{
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
  color: #070742;
  margin-bottom: 1.2rem;
}

.checkboxContainer{
  display: flex;
}

.checkboxItem{
  list-style: none;
  width: 100%;
  position: relative;
}

.iconCheck{
  position: absolute;
  top: .5rem;
  right: .5rem;
  transform: scale(0);
  transition: .2s;
}

.checkboxItem label{
  height: 64px;
  border: 1px solid #E0E0E4;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #747495;
}

.checkboxItem label:hover{
  border-color: #C3C3D2;
  color: #4D4D77;
}

.checkboxItem:not(:last-child){
  margin-right: 1rem;
}

.checkboxItem input{
  display: none;
}

.checkboxContainer li input[type="checkbox"]:checked + label{
  font-weight: 600;
  color: #8337FF;
  border: 2px solid #8337FF;
}

.checkboxContainer li input[type="checkbox"]:checked ~ img{
  transform: scale(1);
}
/*END CHECKBOX*/

/*TEXT-AREA*/
.formTextArea{
  margin-top: 2.5rem;
}

.labelContainer{
  display: flex;
  flex-direction: column;
}

.textAreaLabel{
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
  color: #070742;
  margin-bottom: .2rem;
}

.textAreaSubLabel{
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  color: #9C9CB3;
}

.textArea{
  margin-top: .8rem;
  width: 100%;
  height: 10rem;
  resize: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: .5rem;
  border: 1px solid #EAEAEE;
  outline: none;
  transition: .2s;
}

.textArea:hover{
  border-color: #C3C3D2;
}

.textArea:focus{
  border: 1px solid #8337FF;
  color: #070742;
}

.textArea::placeholder{
  color: #B0B0C2;
}
/*END TEXT-AREA*/

/*BUTTON FORM*/
.buttonForm{
  width: 100%;
  margin-top: 2.5rem;
  display: inline-block;
  padding: 16px 24px;
  background: linear-gradient(182.86deg, #7529F0 2.37%, #500DBE 97.62%);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: .4s;
}

.buttonForm:hover{
  box-shadow: 0px 16px 24px -8px rgba(81, 0, 214, 0.26);
  transform: translateY(-3px);
}
/*END BUTTON FORM*/

/*DEVICE 768PX*/
@media (max-width: 768px) 
{
  .registerContainer{
    width: 88%
  }

  .postValue{
    width: 100%;
  }

  .formFirstLine{
    flex-direction: column;
  }

  .formFirstName{
    margin-right: 0;
  }

  .formTextFieldLasName{
    margin-top: 2.5rem
  }

  .checkboxContainer{
    flex-direction: column;
  }

  .checkboxItem:not(:last-child){
    margin-bottom: .5rem;
  }
}

/*DEVICE 480PX*/
@media (max-width: 480px) 
{
  .postValue{
    margin-top: 2rem;
    background: linear-gradient(91.55deg, #BD00FF -4.39%, #5E09E9 118.62%);
  }
  
  .formTitle{
    margin-top: 2rem;
  }

  .formTitle > img{
    display: none;
  }
}



