.headerContainer{
  display: flex;
  align-items: center;
  padding: 1.5rem 3.5rem;
  border-bottom: 1px solid #EAEAEE;
  position: relative;
}

.headerLogo{
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translateX(-50%);
}

.linkContainer{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.linkContainer img{
  margin-right: .5rem;
}

.linkContainer span{
  font-size: 1rem;
  font-weight: 700;
  color: #070742;
  opacity: .5;
}