.footer{
  margin-top: 4rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-top: 1px solid #EAEAEE;
  display: flex;
  justify-content: center;
}

.footerContent{
  width: 65rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogo{
  height: 18px;
}

.footerSocial img{
  background-color: #F0E7FF;
  padding: 6px;
  border-radius: 8px;
}

.footerSocial a:not(:last-child){
  margin-right: 8px;
}

/*DEVICE 1280PX*/
@media (max-width: 1280px) 
{
  .footerContent{width: 61rem;}
}

/*DEVICE 1080PX*/
@media (max-width: 1080px) 
{
  .footerContent{width: 50rem;}
}

/*DEVICE 768PX*/
@media (max-width: 768px) 
{
  .footerContent{width: 88%}
}

/*DEVICE 480PX*/
@media (max-width: 480px) 
{
  
}